{% extends "base.html" %}

{% block content %}
<div class="container text-center">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>Invalid Request</h1>
                <h2>400 Bad Request</h2>
                <div class="error-details mb-4">
                    Sorry, your request contains invalid parameters or syntax.
                </div>
                <div class="error-actions">
                    <a href="{{ url_for('main.index') }}" class="btn btn-primary">
                        <span class="glyphicon glyphicon-home"></span>
                        Take Me Home
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}