{% extends 'base.html' %}
{% from 'bootstrap5/table.html' import render_table %}

{% block header %}
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet"/>
{% endblock %}
{% block content %}
    <h2>BETA SEARCH - FIELDS ARE EDITABLE AND WILL DIRECTLY UPDATE THE ORDER</h2>
    <h2>CAN SORT ON EVERY COLUMN</h2>
    <h2>SEARCH FIELD IS FOR BOTH CUSTOMER AND TITLE FIELDS, BUT A CUSTOMER NUMBER OR TITLE</h2>

    <div id="table"></div>

    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <script>
        const tableDiv = document.getElementById('table');

        const updateUrl = (prev, query) => {
            return prev + (prev.indexOf('?') >= 0 ? '&' : '?') + new URLSearchParams(query).toString();
        };

        const editableCellAttributes = (data, row, col) => {
            if (row) {
                return {contentEditable: 'true', 'data-element-id': row.cells[0].data};
            } else {
                return {};
            }
        };

        new gridjs.Grid({
            columns:
                [
                    {id: 'id', name: 'id', 'hidden': true},
                    {id: 'LOG', name: 'Log#', 'attributes': editableCellAttributes},
                    {id: 'ARTLO', name: 'Artlog', 'attributes': editableCellAttributes},
                    {id: 'CUST', name: 'Customer', 'attributes': editableCellAttributes},
                    {id: 'TITLE', name: 'Title', 'attributes': editableCellAttributes},
                    {id: 'PRIOR', name: 'Priority', 'attributes': editableCellAttributes},
                    {id: 'DATIN', name: 'Date In', 'attributes': editableCellAttributes},
                    {id: 'DUEOUT', name: 'Due Out', 'attributes': editableCellAttributes},
                    {id: 'COLORF', name: 'Colors', 'attributes': editableCellAttributes},
                    {id: 'PRINT_N', name: 'Print Number', 'attributes': editableCellAttributes},
                    {id: 'LOGTYPE', name: 'Logtype', 'attributes': editableCellAttributes},
                    {
                        id: 'RUSH',
                        name: 'Rush',
                        formatter: (cell) => `${cell.toString()}`,
                        'attributes': editableCellAttributes
                    },
                    {id: 'DATOUT', name: 'Date Out', 'attributes': editableCellAttributes},
                ],
            server: {
                url: '/api/data',
                then: results => results.data,
                total: results => results.total,
            },
            search: {
                enabled: true,
                server: {
                    url: (prev, search) => {
                        return updateUrl(prev, {search});
                    },
                },
            },
            sort: {
                enabled: true,
                multiColumn: true,
                server: {
                    url: (prev, columns) => {
                        const columnIds = ['id', 'LOG', 'ARTLO', 'CUST', 'TITLE', 'PRIOR', 'DATIN', 'DUEOUT', 'COLORF', 'PRINT_N', 'RUSH', 'LOGTYPE', 'DATOUT'];
                        const sort = columns.map(col => (col.direction === 1 ? '+' : '-') + columnIds[col.index]);
                        return updateUrl(prev, {sort});
                    },
                },
            },
            pagination: {
                enabled: true,
                server: {
                    url: (prev, page, limit) => {
                        return updateUrl(prev, {start: page * limit, length: limit});
                    },
                },
            },
        }).render(tableDiv);

        let savedValue;

        tableDiv.addEventListener('focusin', ev => {
            if (ev.target.tagName === 'TD') {
                savedValue = ev.target.textContent;
            }
        });

        tableDiv.addEventListener('focusout', ev => {
            if (ev.target.tagName === 'TD') {
                if (savedValue !== ev.target.textContent) {
                    fetch('/api/data', {
                        method: 'POST',
                        headers: {'Content-Type': 'application/json'},
                        body: JSON.stringify({
                            id: ev.target.dataset.elementId,
                            [ev.target.dataset.columnId]: ev.target.textContent
                        }),
                    });
                }
                savedValue = undefined;
            }
        });

        tableDiv.addEventListener('keydown', ev => {
            if (ev.target.tagName === 'TD') {
                if (ev.key === 'Escape') {
                    ev.target.textContent = savedValue;
                    ev.target.blur();
                } else if (ev.key === 'Enter') {
                    ev.preventDefault();
                    ev.target.blur();
                }
            }
        });
    </script>


{% endblock %}
