{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>{{ title }}</h2>
            {{ render_form(form) }}
            <div class="mt-3">
                {% if current_user.role == 'admin' %}
                    <a href="{{ url_for('main.user_list') }}" class="btn btn-secondary">Back to List</a>
                {% else %}
                    <a href="{{ url_for('main.user_list') }}" class="btn btn-secondary">Back to Profile</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
